# Idea
/.idea
# Python host cache
**.pyc
# Python build dirs
/dist
/pjscript.egg-info/
# C++ Runtime build
/runtime/cxx/build/
# Compiler' artifacts
/program
/program.cpp
/simple.js
/simple.js-to.cpp
/simple.js-to.hpp
/examples/program
/examples/program.cpp
/examples/startup.tjs-to.cpp
/examples/startup.tjs-to.hpp
# Qt Creator configuration files
/runtime/cxx/CMakeLists.txt.user
