# Idea
/.idea
# Python host cache
**.pyc
# Python build dirs
/dist
/tjscript.egg-info/
# C++ Runtime build
/runtime/cxx/build/
# Example artfiacts
/examples/sample/built/
/examples/sample/sample.sh
/examples/sample/generated/
/examples/simple/built/
/examples/simple/simple.sh
/examples/simple/generated/
# Qt Creator configuration files
/runtime/cxx/CMakeLists.txt.user
