# Idea
/.idea
# Python host cache
**.pyc
# Python build dirs
/dist
/pjscript.egg-info/
# C++ Runtime build
/runtime/cxx/build/
# Compiler' artifacts
/examples/program
/examples/program.cpp
# Qt Creator configuration files
/runtime/cxx/CMakeLists.txt.user
